body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

#main {
  width: 1200px;
  margin-left: 14%;
}

button:focus {
  outline: none;
}

nav {
  margin-top: -50px;
  padding: 20px;
  border-radius: 4px;
  color: rgb(4, 9, 61);
}

#akinatorImg{
  margin-top: 4%;
  margin-right: 8%;
  margin-left: -2%;
}

a {
  color: #00B7FF;
}

.aliceblue {
  background-color: aliceblue !important;
  border: none !important;
}

.button-danger {
  color: red;
}

.my-jumbotron {
  background-color: rgb(208, 217, 224);
  padding: 1rem;
  border-radius: 4px;
  width: 80%;
  margin-left: 20%;
}

.start-game {
  padding: 3rem;
  /* background-color: rgb(45, 173, 45); */
  border-radius: 10px;
  font-size: 29px;
  font-weight: 800;
  color: aliceblue;
  background-color: #6697f9;
  border: none;
  box-shadow: 6px 7px rgb(182, 182, 182);
  cursor: pointer;
  margin-left: 290px;
  margin-top: 160px;
}

.start-game:hover {
  /* background-color: rgb(33, 129, 33); */
  background-color: #354f83;
}

.start-game:active {
  box-shadow: 4px 2px rgb(93, 93, 93);
  background-color: #354f83;
  /* background-color: rgb(33, 129, 33); */
  transform: translateY(4px);
}

#starterPage {
  margin-top: 30px;
}